<h1>
<h1>Listing Users</h1>
 
<table>
  <tr>
    <th>first name</th>
    <th>last name</th>
    <th></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.fname %></td>
      <td><%= user.lname %></td>
      <td><%= link_to 'Show', users_path(user) %></td>
    </tr>
  <% end %>
</table>
</h1>